{% extends "hello_world/base.html" %}

{% block content %}
<h2>All Reservations</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Party Size</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for res in reservations %}
    <tr>
      <td>{{ res.name }}</td>
      <td>{{ res.date }}</td>
      <td>{{ res.time }}</td>
      <td>{{ res.party_size }}</td>
      <td>
        <a href="{% url 'reservation_delete' res.pk %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
